@import "tailwindcss";

:root {
  /* Light Mode: Soft Sky Blue Gradient */
  --background: linear-gradient(to bottom right, #f0f9ff, #e0f2fe);
  --foreground: #0f172a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    /* Slate 900 - Premium Dark */
    --foreground: #f8fafc;
    /* Slate 50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}